* {
  margin: 0;
  padding: 0;
}
:root {
  --black: #172339;
  --grey: #49566d;
  --cream: #f3ede7;
  --white: #faf8f6;
  --violet: #a060ff;
  --pink: #cb30e3;
  --orange: #ffa84e;
}
body {
  width: 100%;
  background-color: var(--white);
  font-family: "Epilogue", sans-serif;
  color: var(--black);
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 24px auto;
  width: 90%;
}
nav a {
  padding: 12px 16px;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  color: var(--black);
  border: 1px solid var(--black);
  border-radius: 6px;
}
header {
  margin: 56px auto 56px;
  width: 92%;
}
.hero > img:first-of-type {
  width: 151px;
  margin-left: 160px;
  margin-bottom: 5px;
}
h1 {
  margin-bottom: 32px;
  width: 350px;
  font-size: 38px;
  line-height: 44px;
  font-weight: 400;
}
h1 span {
  font-weight: 700;
}
.hero {
  margin-bottom: 56px;
}
.hero p {
  margin-bottom: 32px;
  font-size: 16px;
  line-height: 28px;
  color: var(--grey);
}
.hero a {
  display: inline-block;
  margin-bottom: 55px;
  padding: 17px 31px;
  background-color: var(--black);
  border-radius: 8px;
  font-size: 18px;
  font-weight: 700;
  color: var(--white);
  text-decoration: none;
}
.statistic {
  margin-bottom: 232px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.statistic h3 {
  margin-bottom: 5px;
  font-size: 48px;
}
.statistic p {
  margin-bottom: 32px;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  color: var(--grey);
}
main {
  position: relative;
  width: 100%;
  height: 735px;
  background-color: var(--cream);
}
.jeremy {
  position: absolute;
  width: 100%;
  height: 740px;
  background-color: var(--black);
  border-radius: 15px;
  top: -10px;
  left: 0;
}
.jeremy picture {
  position: absolute;
  top: -180px;
  left: 50%;
  transform: translateX(-50%);
}
.jeremy > img {
  width: 40px;
  position: absolute;
  top: 261px;
  left: 50%;
  transform: translateX(-50%);
}
.text {
  width: 90%;
  position: absolute;
  top: 338px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: var(--cream);
}
.text h2 {
  margin-bottom: 40px;
  font-size: 40px;
  font-weight: 400;
  color: var(--white);
}
.text span {
  font-weight: 700;
}
.text p {
  margin-bottom: 40px;
  font-size: 18px;
  line-height: 32px;
}
.text h3 {
  font-size: 18px;
  text-transform: uppercase;
}
.text P:last-of-type {
  font-size: 16px;
  letter-spacing: 2.5px;
  text-transform: uppercase;
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: var(--cream);
  text-align: center;
}
footer img {
  margin: 56px auto 33px;
}
footer p {
  margin-bottom: 33px;
  font-size: 15px;
}
.social {
  margin-bottom: 56px;
  display: flex;
  justify-content: space-between;
  gap: 28px;
}
.social a {
  font-size: 20px;
  color: var(--black);
}
